body {
    background-image: url('../shutterstock_295846730.jpg');
    background-size: cover;
}

﻿.swap-page {
    margin: 10px 10px 10px 0;
}

.form-group > label{
    width: 100px;
}

.alert-danger, .alert-success{
    margin-bottom: 0;
}

th {
    width: 12.5%;
}

tr td button{
    width: 90px;
    height: 50px;
}

table {
    opacity: 0.9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: white;
}

#table-head {
    background-color: white;
}

.modal-content {
    display: inline-block;
    width: fit-content;
    height: fit-content;

}

span{
    white-space: nowrap;
}

tr > .residenta-name, .people-output{
    white-space: nowrap;
}

.votebutton{
    width: 110px;
    height: 50px;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 13px;
}