﻿.swap-page {
    margin: 10px 10px 10px 0;
}

.form-group > label{
    width: 100px;
}

.alert-danger, .alert-success{
    margin-bottom: 0;
}

tr td button{
    width: 90px;
    height: 50px;
}

.modal-content {
    display: inline-block;
    width: fit-content;
    height: fit-content;

}

span{
    white-space: nowrap;
}

tr > .residenta-name, .people-output{
    white-space: nowrap;
}

.votebutton{
    width: 110px;
    height: 50px;
    margin: 0 auto;
    vertical-align: middle;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.planets-table{
    min-height: 180px;
}