@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ApiWars</title>
    <link rel="icon"
          type="image/png"
          href="favicon.png">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="module" src="~/js/apiwars.js" defer="defer"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link id='bg-show-hide-css' href="~/css/style.css"
          rel="stylesheet" media='all'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Api Wars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <span class="nav-link voting-statistics-navitem"
                      data-toggle="modal" data-target="#voting-statistics-modal">
                    Voting statistics
                </span>
                @await Html.PartialAsync("PlanetVotesModal")
            </li>
        </ul>

        @if (SignInManager.IsSignedIn(User))
        {
            <span>Hello, <strong>@SignInManager.UserManager.GetUserName(User)</strong></span>
            <form class="form-inline my-2 my-lg-0"
                  asp-controller="Home" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-primary m-1" id="login-button" data-toggle="modal">
                    Logout
                </button>
            </form>
        }
        else
        {
            <form class="form-inline my-2 my-lg-0"
                  asp-controller="Home" asp-action="RegisterUser" method="post">
                <button type="button" class="btn btn-primary m-1" id="register-button" data-toggle="modal"
                        data-target="#register-modal">
                    Register user
                </button>
                @await Html.PartialAsync("RegisterModal")
            </form>
            <form class="form-inline my-2 my-lg-0"
                  asp-controller="Home" asp-action="Login" method="post">
                <button type="button" class="btn btn-primary m-1" id="login-button" data-toggle="modal"
                        data-target="#login-modal">
                    Login user
                </button>
                @await Html.PartialAsync("LoginModal")
            </form>
        }
    </div>
</nav>
<div>
    @RenderBody();
</div>

</body>
</html>